### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Ansible ###
*.retry
ansible-playbook.log*

### Python ###
venv/

### Generated ###
gen-src/

### Heroku
.env
